.container{
    width: 270px;
    height: 300px;
    padding: 20px;
    background-color: #fff9dbe0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .schedule{
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .day{
            font-weight: bolder;
            color: #030303 !important;
        }

        .day, .hours{
            font-family: 'Roboto';
            font-size: 1rem;
            color: #030303d1;
        }
    }
}

@media(max-width: 681px) {

    .container{
        margin-top: 50px;
        padding: 10px;
    }
}

@media(max-width: 330px) {

    .container{
        width: 100%;
        padding: 0;

        .schedule{
            width: 90%;
            padding: 10px;
            height: fit-content;
        }
    }
}