.review-container{
    margin-top: 50px;
    width: 300px;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #F4F4F4;
    border-radius: 8px;
    overflow: hidden;
    filter: drop-shadow(0px 2.8px 2.2px rgba(0, 0, 0, 0.02)) drop-shadow(0px 6.7px 5.3px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.5px 10px rgba(0, 0, 0, 0.04)) drop-shadow(0px 22.3px 17.9px rgba(0, 0, 0, 0.04)) drop-shadow(0px 41.8px 33.4px rgba(0, 0, 0, 0.05)) drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07));

    .quote-left{
        position: relative;
        top: 0;
        left: 0;
        transform: scaleX(-1);
        opacity: 0.6;
    }

    .review{
        font-family: 'Roboto';
        font-size: 1rem;
        color: #030303d1;
        margin-top: 10px;
        line-height: 1.5;
    }

    .client-name{
        font-family: 'Roboto Slab';
        font-size: 1rem;
        color: #030303;
    }

    .stars-container{
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .star{
            height: 30px;
            width: 30px;
            opacity: 0.7;
        }
    }

    .quote-right{
        position: relative;
        left: 85%;
        transform: scaleY(-1);
        display: block;
        opacity: 0.6;
    }
}

@media(max-width: 1156px) {
    .review-container{
        width: 280px;
        height: 330px;
    }
}

@media(max-width: 1092px) {
    .review-container{
        width: 260px;
        height: 310px;
    }
}

@media(max-width: 984px) {
    .review-container{
        width: 240px;
        height: 310px;
    
        .client-name{
            padding-top: 15px;
        }
    
        .stars-container{
            padding-top: 20px;
    
        }
    }
}

@media(max-width: 916px) {
    .review-container{
        width: 220px;
        height: 320px;
    
        .client-name{
            padding-top: 15px;
        }
    
        .stars-container{
            padding-top: 20px;
    
        }
    }
}

@media(max-width: 853px) {
    .review-container{
        width: 200px;
        height: 310px;
    
        .client-name{
            padding-top: 15px;
        }
    
        .stars-container{
            padding-top: 20px;
    
        }
    }
}

@media(max-width: 800px) {
    //Maybe here I'll add a slider ReactSlick
    .review-container{
        width: 40%;
        height: 310px;
    
        .client-name{
            padding-top: 15px;
        }
    
        .stars-container{
            padding-top: 20px;
    
        }
    }
}

@media(max-width: 500px) {
    //Maybe here I'll add a slider ReactSlick
    .review-container{
        width: 90%;
        height: 310px;
    
        .client-name{
            padding-top: 15px;
        }
    
        .stars-container{
            padding-top: 20px;
            justify-content: flex-start;
        }
    }
}