html {
    scroll-behavior: smooth;
  }
.about{
    width: 100vw;
    max-width: 1800px;
    height: fit-content;
    // background-color: #FFF9DB;
    background-color: #fff9dbaf;


    .about-content-container{
        max-width: 1300px;
        height: fit-content;
        margin-right: auto;
        margin-left: auto;
        padding-top: 180px;
        padding-bottom: 100px;

        .section-title{
            font-family: 'Roboto Slab';
            font-size: 3rem;
            font-weight: bold;
            // color: #030303;
            // color: #030303d1;
            color: #030303bd;
            margin-bottom: 60px;
        }

        .content{
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .info{
                width: 40%;
                font-family: 'Roboto';
                font-size: 1.5rem;
                line-height: 1.7;
                // color: #030303;
                color: #030303d1;

            }

            .about-img{
                width: 50%;
            }
        }
    }

    @media(max-width: 1300px) {
        .about-content-container{
            padding-right: 50px;
            padding-left: 50px;
        }
    }

    @media(max-width: 1040px) {
        .about-content-container{
            padding-right: 30px;
            padding-left: 30px;
        }
    }

    @media(max-width: 890px) {
        .about-content-container{
            .content{
                flex-direction: column;
                align-items: flex-start;

                .info{
                    width: 90%;
                    margin-bottom: 40px;
                    line-height: 1.6;
                }
    
                .about-img{
                    width: 90%;
                }
            }
        }
    }

    @media(max-width: 512px) {
        .about-content-container{

            .section-title{
                font-size: 3rem;
            }

            .content{
                .info{
                    width: 97%;
                    margin-bottom: 40px;
                    font-size: 1.2rem;
                }
    
                .about-img{
                    width: 97%;
                }
            }
        }
    }
}

.services{
    width: 100vw;
    max-width: 1800px;
    height: fit-content;
    // background-color: #FFF8F3;
    background-color: #fff8f3df;


    .services-content-container{
        max-width: 1300px;
        height: fit-content;
        margin-right: auto;
        margin-left: auto;
        padding-top: 180px;
        padding-bottom: 100px;

        .section-title{
            font-family: 'Roboto Slab';
            font-size: 3rem;
            font-weight: bold;
            // color: #030303;
            color: #030303bd;
            margin-bottom: 40px;
        }

        .services-cards-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
    }

    @media(max-width: 1300px) {
        .services-content-container{
            padding-right: 50px;
            padding-left: 50px;
        }
    }

    @media(max-width: 1040px) {
        .services-content-container{
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}