.contact-form{

    position: relative;
    top: -100px;


    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;


    .label{
        height: fit-content;
        width: 90%;
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        font-family: 'Roboto Slab';
        font-size: 1rem;
        color: #030303bd;

        .input, .text-area{
            width: 100%;
            height: 40px;
            margin-top: 10px;
            padding-left: 6px;
            background-color: #e1e1e1;
            font-family: 'Roboto';
            font-size: 1rem;
            color: #030303d1;
            border-radius: 8px;
            border: 2px solid rgba(255, 255, 255, 0);
            outline: none !important;

            &:focus{
                border-color: #ffa60036;
            }
        }

        .text-area{
            height: 100px;
            padding-top: 12px;
        }

        .error{
            font-family: 'Roboto';
            font-size: 0.8rem;
            color: rgba(255, 0, 0, 0.668);
        }
    }

    .last-field{
        margin-bottom: 50px ;
    }

    .success-message{
        margin-top: 20px;
        font-family: 'Roboto';
        font-size: 0.9rem;
        color: #030303d1;
    }
}

@media(max-width: 843px) {

    .contact-form{
        position: initial;
    }
}

@media(max-width: 681px) {

    .contact-form{
        margin-top: 80px;
        width: 100%;

        
    .label{
        width: 95%;
    }
    }
}